<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Iam printing</h1>
        <!--
        {% if age > 25 %}
            <h1>Inside if block</h1>
            <h1>{{age}}</h1>
        {% endif %}
        
        {% if age < 18 %}
           <h1>Child</h1>
        {% else %}
           <h1>Adult</h1>
        {% endif %}
        -->  

        {% if age < 18 %}
            <h1>Child</h1>
        {% elif age > 18 and age < 30 %}
            <h1>Adult</h1>
        {% elif age > 30 and age < 45 %}
            <h1>Young</h1>
        {% else %}
            <h1>Old</h1>
        {% endif %}
            
    </center>
</body>
</html>